<app-logo [headerClass]="'text-center  mt-5  pt-5 '"></app-logo>
<div class="container mt-5">
  <div [ngClass]="!bookFormVisible? 'text-right':'col-12'">
    <app-book-form  (emitter)="bookFormVisible = $event" [editMode]="false" [book]="newBook()"></app-book-form>
  </div>
</div>
<div class="container" *ngIf="books &&!books.empty">

  <div *ngIf="!bookFormVisible">
    <div  class="card mb-2" *ngFor="let book of books.content | paginate: { itemsPerPage: books.size, currentPage: books.number+1, totalItems: books.totalElements}">
      <div class="card-body">
        <div class="text-muted text-dark clickable" [routerLink]="linkToBook(book,'view')">
          <p class="ml-1 ">
            <app-image-loader *ngIf="book.cover" [imageId]="book.cover.id" customClass="img-fluid col-2 mt-2 mb-2  "></app-image-loader>
            {{book.title}}
          </p>
        </div>
      </div>
      <div class="card-footer">

        <span *ngIf="book.published" class=" font-italic text-muted ">Published:&nbsp;<fa-icon class="text-success" [icon]="['far','check-circle']"></fa-icon></span>
        <span *ngIf="!book.published" class=" font-italic text-muted ">Published:&nbsp;<fa-icon class="text-danger" [icon]="['fas','exclamation-circle']"></fa-icon></span>

        <div class="btn-group float-right">
          <button  class="btn btn-sm btn-primary" [routerLink]="linkToBook(book,'view')" aria-label="View"><fa-icon [icon]="['fas','eye']"></fa-icon></button>
          <button [id]="book.id + 'editaction'"   [routerLink]="linkToBook(book,'edit')" class="btn btn-sm btn-warning"
                  aria-label="Edit"><fa-icon [icon]="['fas','edit']">></fa-icon></button>

          <button [id]="book.id+'delaction'" (click)="delete(book,$event)" class="btn btn-sm btn-danger" aria-label="Delete"><fa-icon [icon]="['fas','trash']"></fa-icon> </button>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="!bookFormVisible && books && !books.empty && books.totalPages  > 1"
       class="text-center container mt-3 mr-1 mb-3 pb-1 ">
    <div class="text-wrap">
      <pagination-controls (pageChange)="getMyBooks($event)"
                           previousLabel=""
                           autoHide="true"
                           class="my-pagination "
                           nextLabel="">
      </pagination-controls>
    </div>
  </div>
</div>

<div *ngIf="!bookFormVisible && (!books || books.empty)" class="mt-5 container alert alert-danger">
  <fa-icon [icon]="['fas','exclamation']" class="fa-4x"></fa-icon>
  <p>You have no content yet</p>
</div>
