<div class=" mb-4">
  <button class="btn btn-primary btn-sm pull-right" (click)="formVisible=!formVisible"
          *ngIf="!formVisible"><i class="fa fa-plus"></i></button>
  <div *ngIf="formVisible" class="card">
    <div class="card-header">
    <span class="text-uppercase">Book #{{bookCopy.id}}</span>
      <div class="pull-right" *ngIf="showCross">
        <a class="text-link" href="#" (click)="formVisible=false"><i class="fa fa-times"></i></a>
      </div>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <app-image-preview [defaultImage]="bookCopy.cover ? bookCopy.cover.id: null" (emitter)="setCover($event)"></app-image-preview>
          </div>
          <div class="col-lg-8">
              <div class="form-group">
                <label for="bookTitle">Title</label>
                <input type="text" class="form-control" id="bookTitle" [(ngModel)]="bookCopy.title">
              </div>
              <div class="form-group">
                <label for="bookAuthor">Author</label>
                <input type="text" class="form-control" id="bookAuthor" [(ngModel)]="bookCopy.author">
              </div>
              <div class="form-group">
                <label for="bookCategory">Category</label>
                <input type="text" class="form-control" id="bookCategory" [(ngModel)]="bookCopy.category">
              </div>
              <div class="form-group">
                <label for="bookDescription">Description</label>
                <textarea autosize class="form-control " id="bookDescription" [(ngModel)]="bookCopy.description"></textarea>
              </div>
            <button (click)="saveBookToDB()" class="btn btn-outline-primary btn-sm pull-right text-uppercase"><i
              class="fa fa-save"></i>&nbsp;Save</button>
          </div>
          <div class="container">
            <hr>
            <app-chapters [editMode]="editMode" *ngIf="bookCopy && bookCopy.id" [bookId]="bookCopy.id"></app-chapters>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
