<div class="mb-4">
  <button class="btn btn-primary btn-block text-uppercase" (click)="formVisible=!formVisible"
          *ngIf="!formVisible"><fa-icon [icon]="faPlus"></fa-icon>&nbsp;New Track</button>
  <div class="card" *ngIf="editMode && formVisible">
    <div class="card-header bg-white">
      <span class="lead text-uppercase">New Track</span>
      <div class="float-right">
        <a class="text-link text-muted" href="#" (click)="formVisible=false"><fa-icon [icon]="faTimes"></fa-icon></a>
      </div>
    </div>
    <div class="card-body text-uppercase">
      <div class="form-group">
        <label for="newChapTitle">Title</label>
        <input [disabled]="loadingNewFile" name="newChapTitle" class="form-control" type="text" id="newChapTitle"
               [(ngModel)]="newChapter.title">
      </div>

      <div class="form-group">
        <label for="newChapDescription">Description</label>
        <textarea [disabled]="loadingNewFile" autosize class="form-control " id="newChapDescription" [(ngModel)]="newChapter.description"></textarea>
      </div>

      <div class="custom-file">
        <input [autofocus]="false" #fileRef [disabled]="loadingNewFile" name="custom-file-input" id="inputGroupFile01"
               aria-describedby="inputGroupFileAddon01" type="file" class=" shadow-none custom-file-input"
               (change)="setNewChapterFile($event.target.files)">
        <label class="custom-file-label  shadow-none"
               for="inputGroupFile01">{{newChapter.fileName ? newChapter.fileName : 'Choose file'}}</label>
      </div>
    </div>
    <div class="card-footer bg-transparent">
      <button type="submit" id="newCHAPSubmit" [disabled]="loadingNewFile" (click)="publishNewChapter($event)"
              class="btn btn-sm btn-outline-success mt-2 text-uppercase float-right"><fa-icon [icon]="faSave"></fa-icon>&nbsp;Save
      </button>
    </div>
  </div>

</div>
