<div class="mt-5 pt-5 d-flex flex-column justify-content-center align-items-center">
  <app-logo></app-logo>
  <div class="mt-1">
    <div class="input-group">
      <input
        [(ngModel)]="searchText"
        (ngModelChange)="searchBookByTitle(searchText, 1)"
        type="text"
        class="form-control form-control-sm"
        placeholder="Search..."
      />

      <button
        [disabled]="loading || !searchText"
        (click)="searchBookByTitle(searchText)"
        class="btn no-focus btn-outline-primary"
      >
        <fa-icon [icon]="['fas', 'search']"></fa-icon
        >{{ books && books.content ? ' (' + books.totalElements + ')' : '' }}
      </button>

      <div [class]="'btn-group me-auto'">
        <button
          *ngIf="isLoggedIn()"
          [disabled]="loading"
          (click)="getBooks(1)"
          class="btn no-focus btn-outline-primary"
        >
          <fa-icon [icon]="faSync"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="table-responsive mt-2" *ngIf="books && !books.empty">
    <table class="table table-hover table-light table-sm">
      <thead>
        <tr class="bg-light">
          <th scope="col">
            <small>{{ 'title' | uppercase }}</small>
          </th>
          <th scope="col">
            <small>{{ 'category' | uppercase }}</small>
          </th>
          <th scope="col">
            <small>{{ 'Duration' | uppercase }}</small>
          </th>
          <th scope="col">
            <small>{{ 'Lang' | uppercase }}</small>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="books && !books.empty">
        <tr
          class="clickable"
          (click)="navigate(book, 'view')"
          *ngFor="
            let book of books.content
              | paginate: { itemsPerPage: books.size, currentPage: books.number + 1, totalItems: books.totalElements }
          "
        >
          <td>{{ book.title }}</td>
          <td>{{ book.category }}</td>
          <td>{{ getTotalDuration(book) }}</td>
          <td><span [class]="'flag-icon flag-icon-' + (book.lang ? book.lang.toLowerCase() : 'us')"></span></td>
        </tr>
      </tbody>
      <tbody *ngIf="!books || books.empty">
        <tr class="bg-dark">
          <td colspan="11" class="text-white text-uppercase text-center"><strong>No result!</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="books && !books.empty && books.totalPages > 1" class="text-center container mt-2 me-1 mb-3 pb-1">
    <div class="text-wrap">
      <pagination-controls
        (pageChange)="getBooks($event)"
        previousLabel=""
        autoHide="true"
        class="my-pagination"
        nextLabel=""
      >
      </pagination-controls>
    </div>
  </div>
</div>
