  <div class="jumbotron bg-transparent  text-center">
    <button class="btn btn-lg border-0 btn-outline-secondary" routerLink="/books"><fa-icon class="fa-4x" [icon]="['fas','headphones-alt']"></fa-icon></button>
    <hr class="my-4">
    <p *ngIf="!isLoggedIn()">You're not logged in.</p>
    <div *ngIf="isLoggedIn()">
      <p>Welcome {{getUser().username}}!</p>
      <p>Your access roles are: <span class="badge badge-info mr-1" *ngFor="let role of getUser().authorities">{{role.authority}}</span></p>
    </div>

    <div *ngIf="books" class="container text-center">
      <h2 class="text-muted bg-light mt-2 text-uppercase">Latest</h2>
      <div class="d-flex flex-row mb-2 p-2">
        <div *ngFor="let book of books" class="col-lg-4 ">
          <div class="card" >
            <app-image-loader [routerLink]="getBookDetailLink(book)" [customClass]="'clickable card-img-top '" *ngIf="book.cover" [imageId]="book.cover.id"></app-image-loader>
            <div class="card-body border-0 bg-transparent">
              <h6 class="card-title font-italic">{{book.title}}</h6>
              <span class="card-text ">   {{ (book.description && book.description.length>100)? (book.description | slice:0:100)+'...':(book.description ? book.description : 'No description available') }}</span>
              <a [routerLink]="getBookDetailLink(book)" class="btn btn-outline-primary no-focus border-0 p-1 ml-1 text-uppercase btn-outline-primary">&nbsp;More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- top 3 -->

    <div *ngIf="topBooks" class="container text-center">
      <h2 class="text-muted bg-light mt-2 text-uppercase">TOP</h2>
      <div class="d-flex flex-row mb-2 p-2">
        <div *ngFor="let book of topBooks" class="col-lg-4 ">
          <div class="card" >
            <app-image-loader [routerLink]="getBookDetailLink(book)" [customClass]="'clickable card-img-top '" *ngIf="book.cover" [imageId]="book.cover.id"></app-image-loader>
            <div class="card-body border-0 bg-transparent">
              <h6 class="card-title font-italic">{{book.title}}</h6>
              <span class="card-text ">   {{ (book.description && book.description.length>100)? (book.description | slice:0:100)+'...':(book.description ? book.description : 'No description available') }}</span>
              <a [routerLink]="getBookDetailLink(book)" class="btn btn-outline-primary no-focus border-0 p-1 ml-1 text-uppercase btn-outline-primary">&nbsp;More</a>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
