<div class="container">
  <strong>Links:</strong>
  <div *ngIf="showLinks">
    <ul class="list-group" *ngFor="let link of unitLinks">
      <li class="list-group-item">
        <small class="badge badge-info">#{{link.id}}</small>
      </li>
      <li class="list-group-item">Source: {{link.source}}</li>
      <li class="list-group-item">Target: {{link.target}}</li>
      <li class="list-group-item">TimeStamp: {{link.timestamp}}</li>
      <li class="list-group-item">
        <p>Attributes:</p>
        <ngx-json-viewer [json]="parse(link.attributes)"></ngx-json-viewer>
      </li>
      <br>
    </ul>
  </div>
  <button *ngIf="!showLinks" (click)="showLinks=!showLinks" class="btn btn-info btn-sm m-1"><i class="fa fa-eye"></i>&nbsp;Show
  </button>
</div>
