<app-logo [headerClass]="'text-center  mt-5  pt-5 '"></app-logo>
<div class="container  text-center">
    <button class="btn btn-lg border-0 btn-outline-primary" routerLink="/books"><fa-icon class="fa-2x" [icon]="['fas','search']"></fa-icon></button>
    <hr class="my-4">
    <p *ngIf="!isLoggedIn()">You're not logged in.</p>
    <div *ngIf="isLoggedIn()">
      <p>Welcome {{getUser().username}}!</p>
      <p>Your access roles are: <span class="badge badge-info mr-1" *ngFor="let role of getUser().authorities">{{role.authority}}</span></p>
    </div>

    <!-- history -->
    <div *ngIf="isLoggedIn() && histories && histories.length" class="container text-center">
      <h2 class="text-muted bg-light mt-2 text-uppercase">Your History</h2>
      <div class="mb-2 p-2 row ">
        <div *ngFor="let history of histories" class="col-lg-4 ">
          <div class="card bg-light" >
            <div class="card-body border-0 bg-transparent  ">
              <app-audio-player [linkDetail]="getChapterDetailLink(history.chapter)" [updateCurrentTimeUrl]="getUpdateCurrentTimeUrl(history)" [currentTime]="history.currentTime" [title]="history.chapter.title" [upload]="history.chapter.upload"></app-audio-player>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- last -->
    <div *ngIf="books" class="container text-center">
      <h2 class="text-muted bg-light mt-2 text-uppercase">Latest</h2>
      <div class="row mb-2 p-2">
        <div *ngFor="let book of books" class="col-lg-4">
          <div class="card" >
            <app-image-loader [routerLink]="getBookDetailLink(book)" [customClass]="'clickable card-img-top '" *ngIf="book.cover" [imageId]="book.cover.id"></app-image-loader>
            <div class="card-body border-0 bg-transparent">
              <h6 class="card-title font-italic">{{book.title}}</h6>
              <span class="card-text ">   {{ (book.description && book.description.length>100)? (book.description | slice:0:100)+'...':(book.description ? book.description : 'No description available') }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- top 3 -->

    <div *ngIf="topBooks" class="container text-center">
      <h2 class="text-muted bg-light mt-2 text-uppercase">TOP</h2>
      <div class="row mb-2 p-2">
        <div *ngFor="let book of topBooks" class="col-lg-4 ">
          <div class="card" >
            <app-image-loader [routerLink]="getBookDetailLink(book)" [customClass]="'clickable card-img-top '" *ngIf="book.cover" [imageId]="book.cover.id"></app-image-loader>
            <div class="card-body border-0 bg-transparent">
              <h6 class="card-title font-italic">{{book.title}}</h6>
              <span class="card-text ">   {{ (book.description && book.description.length>100)? (book.description | slice:0:100)+'...':(book.description ? book.description : 'No description available') }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
