.form-control:focus {
  box-shadow: none!important;
  outline: 0;
}

.no-focus:focus {
  box-shadow: none!important;
  outline: 0;

}
.btn:focus{
  box-shadow: none!important;
  outline: 0;

}
.clickable {
  cursor: pointer;
  outline: 0;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.border-radius-0{
  border-radius: 0 !important;

}
.card-img-top {
  height: 18vw;
  object-fit: cover;
}

.my-pagination .ngx-pagination {
  margin: 0;
  padding: 0;
}

.my-pagination .ngx-pagination .current {
  margin: 0;
}
