* {
  /*border-radius: 0 !important;*/
}
.form-control:focus {
  box-shadow: none!important;
}
.no-focus:focus {
  box-shadow: none!important;
}

.clickable {
  cursor: pointer;
}
.border-radius-0{
  border-radius: 0 !important;

}
.card-img-top {
  height: 18vw;
  object-fit: cover;
}
