* {
  /*border-radius: 0 !important;*/
}
.form-control:focus {
  box-shadow: none!important;
  outline: 0;
}

.no-focus:focus {
  box-shadow: none!important;
  outline: 0;

}
.btn:focus{
  box-shadow: none!important;
  outline: 0;

}
.clickable {
  cursor: pointer;
  outline: 0;
}
.border-radius-0{
  border-radius: 0 !important;

}
.card-img-top {
  height: 18vw;
  object-fit: cover;
}
