<div class="col-12">
  <div class="container">
      <button class="btn btn-sm btn-secondary m-2 text-uppercase" (click)="back()"><i class="fa fa-arrow-left"></i></button>
      <div *ngIf="book && !editMode" class="container ">
        <div class="row">
            <app-image-loader *ngIf="book.cover" [imageId]="book.cover.id"></app-image-loader>
            <div class="col-lg-8">
              <p class="lead" >
                {{book.title}}
              </p>
              <p>{{book.description}}</p>
              <app-chapters *ngIf="book" [bookId]="book.id"></app-chapters>
            </div>
          </div>
        </div>
    <app-book-form [showCross]="false" *ngIf="editMode && book" [editMode]="editMode" [formVisible]="true" [book]="book"></app-book-form>
  </div>
</div>
