<div class="row">
  <div class="container">
    <button class="btn btn-secondary m-2" (click)="back()">back</button>
    <div *ngIf="book && !editMode">
      <app-image-loader *ngIf="book.cover" [imageId]="book.cover.id"></app-image-loader>
      <p>{{book.id}}</p>
      <p>{{book.title}}</p>
      <p>{{book.description}}</p>
      <p>{{book.totalDuration}}</p>
    </div>
    <app-book-form *ngIf="editMode && book" [editMode]="editMode" [formVisible]="true" [book]="book"></app-book-form>
  </div>
</div>
