<div class="container mb-4">
  <div class="text-center mb-2">

    <div class=" btn-group mt-2  ">
      <button class="btn  btn-outline-info  text-uppercase" (click)="back()"><fa-icon [icon]="faArrowLeft"></fa-icon></button>
      <button [id]="book && book.id + 'editaction'" *ngIf="hasRole('ADMIN')" (click)="navigate(book,'edit')" class="btn  btn-outline-success"
              aria-label="Edit"><fa-icon [icon]="['fas','edit']"></fa-icon></button>
    </div>
  </div>
  <div class="card border-0 " *ngIf="book && !editMode">
    <div class="card-body ">
      <div class="container ">
        <div class="row">
          <div class="col-lg-4 ">
            <app-image-loader  *ngIf="book.cover" [imageId]="book.cover.id"></app-image-loader>
          </div>
          <div class="col-lg-8">
          <span class="lead" >
            {{book.title}}<small class="text-muted"> by {{book.author}}</small>
          </span>
            <p>{{book.description}}</p>
              <app-stars [editable]="isLoggedIn() && !editMode" [star]="book.stars" (updateStar)="rateBook($event)"></app-stars>
              <app-chapters *ngIf="book" [bookId]="book.id"></app-chapters>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 float-right">
        </div>
      </div>

    </div>
  </div>
    <app-book-form [showCross]="false" *ngIf="editMode && book" [editMode]="editMode" [formVisible]="true" [book]="book"></app-book-form>
</div>
