<div class="container mt-4 ">
  <app-unit-search-form [searchResponseCallback]="searchCallback()"></app-unit-search-form>
  <button class="btn btn-warning mr-1 mb-1 btn-sm pull-right" (click)="getUnits(1)"><i class="fa fa-refresh"></i>
  </button>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr *ngIf="!detail" class="bg-secondary text-white">
        <th scope="col">
          <small>#</small>
        </th>
        <th scope="col">
          <small>{{'created' | titlecase }}</small>
        </th>
        <th scope="col">
          <small>{{'updated' | titlecase }}</small>
        </th>
        <th scope="col">
          <small>{{'scope' | titlecase }}</small>
        </th>
        <th scope="col">
          <small>{{'lastStatus' | titlecase }}</small>
        </th>
        <th scope="col">
          <small>{{'last status updated' | titlecase }}</small>
        </th>
        <th scope="col">
          <small>{{'type' | titlecase }}</small>
        </th>
        <th scope="col">
          <small>{{'category' | titlecase }}</small>
        </th>
        <th scope="col" colspan="3">
          <small>{{'action' | titlecase }}</small>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="isLoggedIn() && hasRole('USER') && units && !units.empty && !detail">
      <tr
        *ngFor="let unit of units.content | paginate: { itemsPerPage: units.size, currentPage: units.number+1, totalItems: units.totalElements}">
        <td>{{unit.id}}</td>
        <td>{{unit.created | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{unit.updated | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{unit.scope}}</td>
        <td>{{unit.lastStatus}}</td>
        <td>{{unit.lastStatusUpdated| date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{unit.type}}</td>
        <td>{{unit.category}}</td>
        <td colspan="3">
          <div class="btn-group">
            <button (click)="navigate(unit,'view')" class="btn btn-sm btn-primary" aria-label="View"><i
              class="fa fa-eye"></i></button>
            <button *ngIf="hasRole('ADMIN')" (click)="navigate(unit,'edit')" class="btn btn-sm btn-warning"
                    aria-label="Edit"><i class="fa fa-edit"></i></button>
            <button *ngIf="hasRole('ADMIN')" (click)="delete(unit)" class="btn btn-sm btn-danger" aria-label="Delete"><i
              class="fa fa-trash"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="!detail && (!isLoggedIn() || !units || !units.content.length) ">
      <tr class="bg-dark">
        <td colspan="11" class="text-white text-center"><strong>No result!</strong></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="units && !units.empty && units.totalPages  > 1"
       class="badge badge-light mr-1 mb-2 pb-1 border pull-right">
    <div class="m-0 pt-1 text-wrap">
      <pagination-controls (pageChange)="getUnits($event)"
                           previousLabel=""
                           autoHide="true"
                           class="my-pagination"
                           nextLabel="">
      </pagination-controls>
    </div>
  </div>
</div>
