<div class="container ">
  <div [class]="bookFormVisible?'container':'input-group text-center '">
      <input [(ngModel)]="searchText" *ngIf="!bookFormVisible" (keydown.enter)="searchBookByTitle($event.target.value)" type="text"  [class]="'col-lg-8 ml-auto form-control border-right-0 '" placeholder="Search...">
      <button *ngIf="!bookFormVisible"  [disabled]="loading" (click)="searchBookByTitle(searchText)" class="btn btn-outline-success  mb-2 border-radius-0"><fa-icon [icon]="['fas','search']" ></fa-icon></button>

    <div  [ngClass]="bookFormVisible ? '':'btn-group mr-auto'">
      <button *ngIf="!bookFormVisible && isLoggedIn()"  [disabled]="loading" (click)="getBooks(1)" class="btn border-radius-0 btn-outline-secondary border-left-0  mb-2  "><fa-icon [icon]="faSync" ></fa-icon></button>
      <app-book-form (bookCreatedCallback)="getBooks(1)" (emitter)="bookFormVisible = $event" *ngIf="hasRole('ADMIN')" [editMode]="false" [book]="newBook()"></app-book-form>
    </div>

  </div>
  <div class=" table-responsive mt-2 " *ngIf="books">
    <table class="table table-hover table-light table-sm">
      <thead>
      <tr class="bg-light">
        <th scope="col">
          <small>{{'title' | uppercase }}</small>
        </th>
        <th scope="col">
          <small>{{'category' | uppercase }}</small>
        </th>
        <th scope="col">
          <small>{{'Duration' | uppercase }}</small>
        </th>
        <th scope="col" colspan="3" *ngIf="hasRole('ADMIN')">
          <small>{{'action' | uppercase }}</small>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="books && !books.empty">
      <tr class="clickable" (click)="navigate(book,'view')" *ngFor="let book of books.content | paginate: { itemsPerPage: books.size, currentPage: books.number+1, totalItems: books.totalElements}">
        <td>{{book.title}}</td>
        <td>{{book.category}}</td>
        <td>{{getTotalDuration(book)}}</td>
        <td colspan="3">
          <div class="btn-group">
<!--            <button [id]="book.id + 'viewaction'" (click)="navigate(book,'view')" class="btn btn-sm btn-primary" aria-label="View"><fa-icon [icon]="faEye"></fa-icon></button>-->
            <button [id]="book.id + 'editaction'" *ngIf="hasRole('ADMIN')" (click)="navigate(book,'edit')" class="btn btn-sm btn-warning"
                    aria-label="Edit"><fa-icon [icon]="faEdit"></fa-icon></button>

            <button [id]="book.id+'delaction'" *ngIf="hasRole('ADMIN')" (click)="delete(book,$event)" class="btn btn-sm btn-danger" aria-label="Delete"><fa-icon [icon]="faTrash"></fa-icon> </button>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="!books || books.empty ">
      <tr class="bg-dark">
        <td colspan="11" class="text-white text-center"><strong>No result!</strong></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="books && !books.empty && books.totalPages  > 1"
       class="text-center container mt-2 mr-1 mb-3 pb-1 ">
    <div class="text-wrap">
      <pagination-controls (pageChange)="getBooks($event)"
                           previousLabel=""
                           autoHide="true"
                           class="my-pagination "
                           nextLabel="">
      </pagination-controls>
    </div>
  </div>
</div>
