<div class="container mt-4 ">
  <app-book-form [editMode]="false" [book]="newBook()"></app-book-form>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr  class="bg-secondary text-white">
        <th scope="col">
          <small>{{'title' | titlecase }}</small>
        </th>
        <th scope="col">
          <small>{{'category' | titlecase }}</small>
        </th>
        <th scope="col">
          <small>{{'totalDuration' | titlecase }}</small>
        </th>
        <th scope="col" colspan="3">
          <small>{{'action' | titlecase }}</small>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="books && !books.empty">
      <tr
        *ngFor="let book of books.content | paginate: { itemsPerPage: books.size, currentPage: books.number+1, totalItems: books.totalElements}">
        <!--<td>{{book.id}}</td>
        <td>{{book.createdDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{book.lastModifiedDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{book.createdBy}}</td>
        <td>{{book.lastModifiedBy}}</td>
        --><td>{{book.title}}</td>
        <td>{{book.category}}</td>
        <td>{{book.totalDuration}}</td>
        <td colspan="3">
          <div class="btn-group">
            <button (click)="navigate(book,'view')" class="btn btn-sm btn-primary" aria-label="View"><fa-icon [icon]="faEye"></fa-icon></button>
            <button *ngIf="hasRole('ADMIN')" (click)="navigate(book,'edit')" class="btn btn-sm btn-warning"
                    aria-label="Edit"><fa-icon [icon]="faEdit"></fa-icon></button>
            <button *ngIf="hasRole('ADMIN')" (click)="delete(book)" class="btn btn-sm btn-danger" aria-label="Delete"><fa-icon [icon]="faTrash"></fa-icon> </button>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="!books || books.empty ">
      <tr class="bg-dark">
        <td colspan="11" class="text-white text-center"><strong>No result!</strong></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="books && !books.empty && books.totalPages  > 1"
       class="badge badge-light mr-1 mb-2 pb-1 border float-right">
    <div class="m-0 pt-1 text-wrap">
      <pagination-controls (pageChange)="getBooks($event)"
                           previousLabel=""
                           autoHide="true"
                           class="my-pagination"
                           nextLabel="">
      </pagination-controls>
    </div>
  </div>
</div>
