<div class="container mt-2">
  <div [class]="bookFormVisible?'container':'input-group'">
    <input type="text"  [class]="'form-control input-sm ' +(bookFormVisible?'mb-2':'mr-2')" placeholder="Search...">
    <app-book-form (bookCreatedCallback)="getBooks(0)" (emitter)="bookFormVisible = $event" *ngIf="hasRole('ADMIN')" [editMode]="false" [book]="newBook()"></app-book-form>
  </div>
  <div class="mt-2 table-responsive">
    <table class="table table-hover table-light table-sm">
      <thead>
      <tr class="bg-light">
        <th scope="col">
          <small>{{'title' | uppercase }}</small>
        </th>
        <th scope="col">
          <small>{{'category' | uppercase }}</small>
        </th>
        <th scope="col">
          <small>{{'Duration' | uppercase }}</small>
        </th>
        <th scope="col" colspan="3">
          <small>{{'action' | uppercase }}</small>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="books && !books.empty">
      <tr class="clickable" (click)="navigate(book,'view')" *ngFor="let book of books.content | paginate: { itemsPerPage: books.size, currentPage: books.number+1, totalItems: books.totalElements}">
        <td>{{book.title}}</td>
        <td>{{book.category}}</td>
        <td>{{getTotalDuration(book)}}</td>
        <td colspan="3">
          <div class="btn-group">
            <button (click)="navigate(book,'view')" class="btn btn-sm btn-primary" aria-label="View"><fa-icon [icon]="faEye"></fa-icon></button>
            <button *ngIf="hasRole('ADMIN')" (click)="navigate(book,'edit')" class="btn btn-sm btn-warning"
                    aria-label="Edit"><fa-icon [icon]="faEdit"></fa-icon></button>
            <button *ngIf="hasRole('ADMIN')" (click)="delete(book)" class="btn btn-sm btn-danger" aria-label="Delete"><fa-icon [icon]="faTrash"></fa-icon> </button>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="!books || books.empty ">
      <tr class="bg-dark">
        <td colspan="11" class="text-white text-center"><strong>No result!</strong></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="books && !books.empty && books.totalPages  > 1"
       class="badge badge-light mr-1 mb-2 pb-1 border float-right">
    <div class="m-0 pt-1 text-wrap">
      <pagination-controls (pageChange)="getBooks($event)"
                           previousLabel=""
                           autoHide="true"
                           class="my-pagination"
                           nextLabel="">
      </pagination-controls>
    </div>
  </div>
</div>
