<div class="p-2">
  <p *ngIf="chapters">{{chapters.length}} chapter{{chapters.length > 1 ? 's':''}}</p>
  <div *ngIf="chapters">
    <ul class="list-group">
      <li *ngFor="let ch of chapters" class="list-group-item">
          <button class="btn btn-sm btn-danger text-uppercase pull-right" (click)="deleteChapter(ch)" *ngIf="editMode">
            <i class="fa fa-trash"></i>&nbsp;Delete
          </button>
        <app-chapter-detail [id]="ch.id" [chapter]="ch"></app-chapter-detail>
      </li>
    </ul>
  </div>
</div>
