<div class="container mt-2 mb-2">

  <div class="card" *ngIf="unit">
    <div class="card-header">
      <span class="badge">
        Unit: {{unit.id}}
      </span>
      <div class="pull-right">
        <button class="btn btn-sm btn-danger" (click)="back()"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
        <button class="btn btn-sm btn-success" *ngIf="editMode" (click)="save()"><i class="fa fa-save"></i>&nbsp;Save
        </button>
      </div>
    </div>
    <ul class="list-group">
      <app-links [unitId]="unit.id"></app-links>
      <app-event [unitId]="unit.id"></app-event>
      <li class="list-group-item"><strong>Category:</strong>&nbsp;<input class="form-control" type="text"
                                                                         [disabled]="!editMode"
                                                                         [(ngModel)]="unit.category"
                                                                         [value]="unit.category"></li>
      <li class="list-group-item" *ngIf="unit.created"><strong>Created:</strong>&nbsp;<input class="form-control"
                                                                                             type="text"
                                                                                             [disabled]="!editMode"
                                                                                             [(ngModel)]="unit.created"
                                                                                             [value]="unit.created | date: 'dd/MM/yyyy HH:MM:SS'">
      </li>
      <li class="list-group-item" *ngIf="unit.updated"><strong>Updated:</strong>&nbsp;<input class="form-control"
                                                                                             type="text"
                                                                                             [disabled]="!editMode"
                                                                                             [(ngModel)]="unit.updated"
                                                                                             [value]="unit.updated | date: 'dd/MM/yyyy HH:MM:SS'">
      </li>
      <li class="list-group-item"><strong>Last status:</strong>&nbsp;<input class="form-control" type="text"
                                                                            [disabled]="!editMode"
                                                                            [(ngModel)]="unit.lastStatus"
                                                                            [value]="unit.lastStatus"></li>
      <li class="list-group-item"><strong>Last status type:</strong>&nbsp;<input class="form-control" type="text"
                                                                                 [disabled]="!editMode"
                                                                                 [(ngModel)]="unit.lastStatusType"
                                                                                 [value]="unit.lastStatusType"></li>
      <li class="list-group-item"><strong>Scope:</strong>&nbsp;<input class="form-control" type="text"
                                                                      [disabled]="!editMode" [(ngModel)]="unit.scope"
                                                                      [value]="unit.scope"></li>
      <li class="list-group-item"><strong>Type:</strong>&nbsp;<input class="form-control" type="text"
                                                                     [disabled]="!editMode" [(ngModel)]="unit.type"
                                                                     [value]="unit.type"></li>
      <li class="list-group-item"><strong>ProcessingState:</strong>
        <ngx-json-viewer *ngIf="!editMode && unit.processingState"
                         [json]="parse(unit.processingState)"></ngx-json-viewer>
        <textarea class="form-control" *ngIf="editMode" [(ngModel)]="unit.processingState"></textarea>
      </li>
      <li class="list-group-item"><strong>References:</strong>
        <ngx-json-viewer *ngIf="!editMode && unit.references" [json]="parse(unit.references)"></ngx-json-viewer>
        <textarea class="form-control" *ngIf="editMode" [(ngModel)]="unit.references"></textarea>
      </li>
      <li class="list-group-item"><strong>SubCategories:</strong>
        <ngx-json-viewer *ngIf="!editMode && unit.subCategories" [json]="parse(unit.subCategories)"></ngx-json-viewer>
        <textarea class="form-control" *ngIf="editMode" [(ngModel)]="unit.subCategories"></textarea>
      </li>
      <li class="list-group-item"><strong>Attributes:</strong>
        <ngx-json-viewer *ngIf="!editMode && unit.attributes" [json]="parse(unit.attributes)"></ngx-json-viewer>
        <textarea class="form-control" *ngIf="editMode" [(ngModel)]="unit.attributes"></textarea>
      </li>
      <li class="list-group-item"><strong>Source:</strong>
        <ngx-json-viewer *ngIf="!editMode && unit.source" [json]="parse(unit.source)"></ngx-json-viewer>
        <textarea class="form-control" *ngIf="editMode" [(ngModel)]="unit.target"></textarea>
      </li>
      <li class="list-group-item"><strong>Target:</strong>
        <ngx-json-viewer *ngIf="!editMode && unit.target" [json]="parse(unit.target)"></ngx-json-viewer>
        <textarea class="form-control" *ngIf="editMode" [(ngModel)]="unit.target"></textarea>
      </li>
    </ul>
  </div>
</div>
