<div (keydown.enter)="login()" *ngIf="!isLoggedIn()" class="form-inline my-2 my-lg-0">
  <input autocapitalize="none" autofocus="autofocus" [(ngModel)]="username" name="username" class="form-control mr-sm-2"
         type="text"
         placeholder="Username" aria-label="Username">
  <input (keydown.enter)="login()" [(ngModel)]="password" name="password" class="form-control mr-sm-2"
         type="password" placeholder="Password"
         aria-label="Password">
  <button class="btn  mb-sm-1 btn-info text-white btn-sm " type="button" (click)="login()"><fa-icon [icon]="faSignInAlt" ></fa-icon>
  </button>
</div>
<div *ngIf="isLoggedIn()" class="form-inline my-2 my-lg-0">
  <span>Welcome {{getUser().username}}</span>&nbsp;
  <button class="btn btn-danger text-white my-2 my-sm-0 btn-sm" type="button" (click)="logout()"><fa-icon [icon]="faSignOutAlt"></fa-icon>
  </button>
</div>
