<div class=" mb-4">
  <button class="btn btn-primary btn-sm float-right" (click)="searchFormVisible=!searchFormVisible"
          *ngIf="!searchFormVisible"><i class="fa fa-search"></i></button>
  <div *ngIf="searchFormVisible" class="card">
    <div class="card-header">
      <span>Search</span>
      <div class="float-right">
        <a class="text-link" href="#" (click)="searchFormVisible=false"><i class="fa fa-times"></i></a>
      </div>
    </div>
    <div class="card-body">
      <div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputId">Id</label>
            <input type="text" class="form-control" id="inputId" [(ngModel)]="criteria.id">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFrom">From</label>
            <input type="datetime-local" class="form-control" id="inputFrom" [(ngModel)]="criteria.from">
          </div>
          <div class="form-group col-md-6">
            <label for="inputTo">To</label>
            <input type="datetime-local" class="form-control" id="inputTo" [(ngModel)]="criteria.to">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="scope">Scope</label>
            <select class="form-control" id="scope" [(ngModel)]="criteria.scope">
              <option value="processing">Processing</option>
              <option value="finished">FINISHED</option>
              <option value="error">Error</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="status">Last status</label>
            <input type="text" class="form-control" id="status" [(ngModel)]="criteria.lastStatus">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputType">Type</label>
            <input type="text" class="form-control" id="inputType" [(ngModel)]="criteria.type">
          </div>
          <div class="form-group col-md-6">
            <label for="inputCat">Category</label>
            <select id="inputCat" class="form-control" [(ngModel)]="criteria.category">
              <option selected>Choose...</option>
              <option>A</option>
              <option>B</option>
              <option>C</option>
            </select>
          </div>
        </div>
        <button (click)="searchResponseCallback(criteria)" type="button" class="btn btn-primary pull-right"><i
          class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>
